@charset "UTF-8";
/*VARIABLES*/
/*VARIABLES*/
/*PROPIEDADES GENERALES DE TODAS LAS PAGINAS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation-duration: 2s; }

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100px 100% 50px;
  grid-template-areas: "header" "main" "footer"; }

::placeholder {
  font-family: 'Roboto', sans-serif;
  color: #4482af;
  width: 100%; }

main {
  display: flex;
  flex-direction: column;
  grid-area: main; }

ul {
  list-style-type: none;
  /*le quita las viñetas a las listas*/ }

h1 {
  color: #d3b407;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  font-size: 8vw;
  font-family: "Bakbak One", cursive;
  text-align: center;
  width: 100%; }

h2 {
  color: #f8f8f2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  font-size: 6vw;
  font-family: "Anton", sans-serif;
  text-align: center;
  width: 100%;
  letter-spacing: 2px; }

h3 {
  color: #f8f8f2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  font-size: 5vw;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 100%; }

p {
  color: #f8f8f2;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  font-size: 4vw;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  width: 100%; }

fieldset legend {
  font-family: "Roboto", sans-serif;
  background: #333333;
  font-size: 20px;
  text-align: center; }

.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em; }

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #e6e6e6; }

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear; }

.btn-primary, .btn-primary:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff; }

.btn-primary.active {
  color: rgba(255, 255, 255, 0.75); }

.btn-primary {
  background-color: #4a77d4;
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4));
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);
  border: 1px solid #3762bc;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  filter: none;
  background-color: #4a77d4; }

.btn-block {
  width: 100%;
  display: block; }

.boton2 {
  float: right;
  margin: 5px; }

/*PROPIEDADES GENERALES DEL HEADER*/
header {
  position: sticky;
  top: 0;
  z-index: 100;
  grid-area: header;
  background-color: rgba(14, 24, 31, 0.7); }

#logo {
  padding-top: 5px;
  padding-left: 15px;
  height: 45px; }

#hamburguesa {
  width: 55px; }

#htmlActivo {
  color: #75BF80;
  font-weight: 600; }

/*PROPIEDADES GENERALES DEL BUSCADOR*/
#buscador {
  /*formato del contenedor de búsqueda*/
  background-color: #0f181f;
  border-radius: 20px;
  width: auto;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5), 0 0 20px 10px #ffffffeb;
  /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)*/
  transform: scale(0.5);
  /*reduce el tamaño original del elemento al ratio*/
  display: grid;
  grid-auto-columns: 80% 20%;
  grid-template-areas: "buscar lupa"; }

#lupa {
  grid-area: lupa; }

#buscame {
  grid-area: buscar; }

#inputBuscador {
  /*formato del input ANTES que se comience a escribir*/
  margin-left: 10px;
  height: 50px;
  font-size: 30px;
  line-height: 1;
  width: 190px; }

.tb {
  /*Cuadro del buscador*/
  display: table;
  width: 80%; }

.td {
  display: table-cell;
  vertical-align: middle; }

input,
button {
  /*da formato a la barra cuando se comienza a escribir*/
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent; }

/* PROPIEDADES GENERALES DEL PIE DE PAGINA */
footer {
  background-color: rgba(14, 24, 31, 0.7);
  /*fondo de header gris oscuro*/
  color: #f8f8f2;
  padding: 10px;
  font-family: Arial;
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  grid-area: footer; }
  footer a {
    text-decoration: none;
    font-family: Arial;
    font-size: 10px;
    color: white;
    width: 200px;
    text-align: center; }
  footer p {
    font-size: 10px;
    margin: 0; }

#iconRedes {
  height: 18px;
  width: 18px; }

/* PROPIEDADES GENERALES PAGINA INDEX*/
#bodyIndex {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 5%;
  background-attachment: fixed;
  color: #f8f8f2;
  justify-content: center;
  width: 100%;
  background: url(../img/assistant.jpg) no-repeat; }

#indexTitulos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas: "A3 A3 A3 A3 A3" "A3 A3 A3 A3 A3" "A3 A3 A3 A3 A3" "A3 A3 A3 A3 A3" "A3 A3 A3 A3 A3" "A3 A3 A3 A3 A3" "A3 A3 A3 A3 A3" "A5 A5 A5 A5 A5" "A5 A5 A5 A5 A5" "A6 A6 A6 A6 A6";
  width: 100vw;
  height: 90vh; }

#presentacion {
  padding-top: 20px;
  grid-area: A3;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 80%;
  justify-content: flex-end; }

#textoppal {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.4px;
  text-align: justify;
  font-size: 13.9px;
  width: 100%;
  height: 200px;
  color: #f8f8f2; }

#slogan {
  box-shadow: 0 0 50px -10px #000;
  width: 50%;
  padding-top: 10px;
  width: 100%;
  height: 100px;
  font-weight: bold; }

#ingresoppal {
  transform: scale(0.8);
  grid-area: A5;
  background-color: #0f181f;
  border-radius: 10px;
  box-shadow: 0px 15px 40px #192935, 0 0 5px 3px #ffffffeb;
  /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  width: 300px;
  height: 230px;
  text-align: center;
  justify-self: center;
  align-self: center; }
  #ingresoppal a {
    color: #75BF80;
    text-decoration: none;
    font-size: 15px;
    text-align: center; }
  #ingresoppal h2 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    text-align: center; }

#inputLogin {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease; }
  #inputLogin :focus {
    box-shadow: inset 0 -5px 45px rgba(163, 162, 162, 0.4), 0 1px 1px rgba(255, 255, 255, 0.356); }

#sliderUsuario {
  height: 120px; }

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  border: 10px solid rgba(51, 51, 51, 0.3); }
  .slider ul li a {
    color: rgba(255, 255, 255, 0.842);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 0 0 20px black;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center; }
  .slider ul li a h4 {
    font-size: 20px;
    position: absolute;
    top: 30px;
    letter-spacing: 1px; }
  .slider ul {
    padding: 0;
    display: flex;
    width: 600%;
    position: relative;
    animation: cambio 30s infinite ease-in; }
  .slider li {
    width: 100%;
    list-style: none; }
  .slider img {
    width: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  14% {
    margin-left: 0; }
  16% {
    margin-left: -100%; }
  30% {
    margin-left: -100%; }
  32% {
    margin-left: -200%; }
  46% {
    margin-left: -200%; }
  48% {
    margin-left: -300%; }
  62% {
    margin-left: -300%; }
  64% {
    margin-left: -400%; }
  78% {
    margin-left: -400%; }
  80% {
    margin-left: -500%; }
  100% {
    margin-left: -500%; } }

/* PROPIEDADES GENERALES PAGINA USUARIOS*/
#bodyUsuarios {
  background: #292828;
  background-size: 30%;
  background-repeat: repeat;
  background-position: 50% 5%;
  background-attachment: fixed;
  justify-content: center; }

#userMain {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 75% 25%;
  grid-template-areas: "UM1"  "UM2";
  width: 100vw;
  height: auto;
  align-items: center;
  justify-items: center; }

#tituloUser {
  width: 100%;
  animation-duration: 1s; }

#solicitaPresupuesto {
  grid-area: UM2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%; }

#recomienda {
  grid-area: UM1;
  width: auto;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  transform: scale(1.1); }

.cuadrointeractivo {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  border: 2px #a9a9ad solid;
  box-shadow: 0 0 40px -10px #000;
  padding: 15px 25px;
  max-width: calc(100vw - 40px);
  font-family: 'Montserrat',sans-serif;
  color: #bdbdc0;
  font-size: 14px;
  text-align: justify;
  justify-self: left;
  align-self: stretch;
  transform: scale(0.7); }

#recomiendadatos {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start; }

#tipoprestador {
  width: 60%; }

.campodatos {
  width: 250px;
  color: grey; }

.avisolegal {
  font-size: small; }

#indexGaleria {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 200px 200px;
  grid-template-areas: "TIT TIT TIT" "IG1 IG2 IG3" "IG4 IG5 IG6";
  padding-left: 10px; }
  #indexGaleria h2 {
    grid-area: TIT;
    color: #797f85;
    align-self: flex-end;
    font-weight: 300;
    justify-self: center;
    font-family: "Anton", sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left; }
  #indexGaleria div h4 {
    color: rgba(255, 255, 255, 0.842);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 0 0 15px black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #indexGaleria div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    height: 100%; }
    #indexGaleria div a h4:hover {
      background-color: rgba(0, 0, 0, 0.5);
      color: #e6e6e6; }

#imgIG1, #imgIG2, #imgIG3, #imgIG4, #imgIG5, #imgIG6 {
  display: flex;
  flex-direction: column;
  grid-area: IG1;
  background: url(../img/cemento.jpg) no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center; }

#imgIG2 {
  grid-area: IG2;
  background: url(../img/piscina2.jpg) no-repeat;
  background-size: cover; }

#imgIG3 {
  grid-area: IG3;
  background: url(../img/Parque.jpg) no-repeat;
  background-size: cover; }

#imgIG4 {
  grid-area: IG4;
  background: url(../img/alambrado.jpg) no-repeat;
  background-size: cover; }

#imgIG5 {
  grid-area: IG5;
  background: url(../img/muelle.jpg) no-repeat;
  background-size: cover; }

#imgIG6 {
  grid-area: IG6;
  background: url(../img/limpieza3.jpg) no-repeat;
  background-size: cover; }

/* PROPIEDADES GENERALES DE PAGINA ARTICULOS*/
#bodyArticulos {
  background: url(../img/cemento.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 5%;
  background-attachment: fixed;
  color: #f8f8f2;
  justify-content: center; }

#articleMain {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 320px 320px;
  grid-template-areas: "AM1" "AM2" "AM3";
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-items: center; }
  #articleMain h3 {
    grid-area: AM1; }

#artVideo1 {
  grid-area: AM2;
  width: 90%;
  height: 280px; }
  #artVideo1 div h5 {
    font-size: 15px; }
  #artVideo1 div p {
    font-size: 13px; }

#artVideo2 {
  grid-area: AM3;
  width: 90%;
  height: 280px; }
  #artVideo2 div h5 {
    font-size: 15px; }
  #artVideo2 div p {
    font-size: 13px; }

.videos {
  width: 100%;
  height: auto; }

/*PROPIEDADES GENERALES DE PAGINA CONTACTO*/
#contactMain {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "CM1" "CM3";
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-items: center; }
  #contactMain h3 {
    grid-area: CM1;
    width: 80%; }

#bodyContacto {
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 5%;
  background-attachment: fixed;
  justify-content: center; }

#imgcontacto {
  display: none; }

#contacto {
  grid-area: CM3;
  background: #e6e6e6;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  font-family: 'Montserrat',sans-serif;
  color: #78788c;
  font-size: 14px;
  text-align: justify;
  justify-self: center;
  transform: scale(0.8); }
  #contacto h2 {
    margin: 5px 0;
    padding-bottom: 5px;
    width: 100px;
    color: #6c6c7c;
    font-size: 25px; }
  #contacto p {
    font-size: small;
    text-align: justify;
    text-shadow: none;
    color: #6c6c7c; }

#inputContacto {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat',sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #bebed2;
  background-color: #e6e6e6; }

#pContacto:before {
  content: attr(type);
  display: block;
  margin: 22px 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #78788c; }

/* PROPIEDADES GENERALES PAGINA PRESTADORES */
#bodyPrestadores {
  background: url(../img/trabajadores2.jpg) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 55% 5%;
  background-attachment: fixed;
  color: #f8f8f2;
  justify-content: center;
  width: 100%; }

#contratistMain {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "CM1" "CM2";
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-items: center; }

#registroPrestador {
  width: 90%;
  grid-area: CM2; }

#tituloPrestador {
  grid-area: CM1;
  width: 100%; }

#notaPrestador {
  font-size: small;
  text-align: justify; }

/*PROPIEDADES GENERALES PAGINA REGISTRO*/
#bodyAyuda {
  background: url(../img/manoLpaiz.png) no-repeat;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 55% 5%;
  background-attachment: fixed;
  justify-content: center;
  width: 100%; }

#registerMain {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "RU1" "RU2";
  width: 100vw;
  height: 90vh;
  align-items: center;
  justify-items: center; }

#tituloRegistro {
  grid-area: RU1;
  width: 100%;
  padding: 5px; }

#registroUsuario {
  grid-area: RU2;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
  color: #fff; }
  #registroUsuario h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 30px; }
  #registroUsuario form p {
    background: rgba(0, 0, 0, 0.5); }

/* PROPIEDADES GENERALES DE PAGINA AYUDA*/
#helpMain {
  width: 100vw;
  height: 90vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "HM1" "HM2";
  align-items: center;
  justify-items: center; }

#tituloAyuda {
  grid-area: HM1;
  width: 100%;
  z-index: 10; }

#funcionamiento {
  grid-area: HM2;
  width: 90%; }
  #funcionamiento p {
    font-size: 12px;
    text-align: justify; }

.funcionamiento {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  height: auto;
  text-align: center;
  color: #f8f8f2; }

.videoFondo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -100; }

@media only screen and (max-width: 525px) {
  /*CONDICIONES MOBILE*/ }

@media only screen and (min-width: 525px) {
  /*CONDICIONES TABLET&+*/
  /* PROPIEDADES GENERALES RESPONSIVE DESKTOP*/
  h1 {
    color: #d3b407;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    font-size: 4.5vw;
    font-family: "Bakbak One", cursive;
    text-align: center;
    width: 100%; }
  h2 {
    color: #f8f8f2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    font-size: 40px;
    font-family: "Anton", sans-serif;
    text-align: center;
    width: 100%; }
  h3 {
    color: #f8f8f2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    width: 100%; }
  p {
    color: #f8f8f2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    font-size: 1.5vw;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    width: 100%; }
  /* PROPIEDADES RESPONSIVE DESKTOP DEL ENCABEZADO*/
  header {
    padding: 0 15px 0 15px; }
  #logo {
    padding-top: 7px;
    padding-left: 15px;
    height: 65px; }
  /* PROPIEDADES RESPONSIVE DESKTOP DEL BUSCADOR */
  #inputBuscador {
    /*formato del input ANTES que se comience a escribir*/
    height: 65px;
    font-size: 40px;
    width: 200px;
    line-height: 1; }
  #s-cover {
    width: 1px;
    padding-left: 20px; }
    #s-cover :hover #s-circle {
      /*propiedades del circulo de la lupa cuando se TRANSFORMA EN LINEA DE FLECHA*/
      top: 6%;
      left: -11px;
      width: 60px;
      /*largo de la linea*/
      height: 10px;
      /*ancho del trazo de la linea*/
      border-width: 0;
      background-color: #fff;
      border-radius: 20px; }
    #s-cover :hover span {
      top: 50%;
      left: 56px;
      width: 25px;
      /*margin-top: -9px;*/
      transform: rotateZ(0); }
    #s-cover :hover #btnspan:before {
      bottom: 11px;
      transform: rotateZ(52deg); }
    #s-cover :hover #btnspan:after {
      /*propiedades de la linea de flecha de abajo*/
      bottom: -11px;
      transform: rotateZ(-52deg); }
    #s-cover :hover #btnspan:before,
    #s-cover :hover #btnspan:after {
      right: 18px;
      /*posicion x*/
      width: 35px;
      /*largo de cada linea de flecha*/
      background-color: #fff; }
  #buttonNav {
    /*formato del contenedor donde está la lupa*/
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    cursor: pointer;
    /*cambia el cursor a la manito*/ }
  #s-circle {
    /*propiedades del CIRCULO de la lupa*/
    position: relative;
    top: -10px;
    left: -5px;
    width: 40px;
    /*tamaño x*/
    height: 40px;
    /*tamaño y*/
    margin-top: 0;
    border-width: 15px;
    border: 7px solid #fff;
    /*ancho del trazo y color*/
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all; }
  #btnspan {
    /*propiedades del MANGO de la lupa*/
    position: absolute;
    top: 50px;
    left: 30px;
    display: block;
    width: 26px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(45deg);
    transition: 0.5s ease all; }
    #btnspan:before, #btnspan:after {
      /*formato del MANGO de la lupa*/
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 35px;
      height: 7px;
      /*ancho del trazo (rellena el espacio, no es una linea)*/
      background-color: #fff;
      border-radius: 10px;
      transform: rotateZ(0);
      transition: 0.5s ease all; }
  /* PROPIEDADES RESPONSIVE DESKTOP DEL NAVEGADOR*/
  /*nav{
        position: relative; right: 20px;
        width: 25%;
        height: 42%;
    }

    #menunav {
        background-color: #0f181f;
        border-radius: 10px;
        box-shadow: 0px 15px 40px #192935, 0 0 5px 3px #ffffffeb; /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        font-family:Arial;
        font-weight:bold;
        font-size: 11px;
        text-decoration: none;

        li a{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width:80%;    
            height: 20px;
    
        }
    
        li a:hover {
            border-radius: 20px;
            background-color: #ffffffeb;
            color: #192935;
            
        }
    }*/
  /* PROPIEDADES RESPONSIVE DESKTOP DEL PIE DE PAGINA*/
  footer {
    padding: 30px;
    font-family: Arial;
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px; }
    footer a {
      font-size: 13px; }
    footer p {
      font-size: 12px; }
  #iconRedes {
    height: 27px;
    width: 27px; }
    #iconRedes:hover {
      transform: scale(1.5); }
  #redes {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  /* PROPIEDADES RESPONSIVE DESKTOP PAGINA INDEX*/
  #ingresoppal {
    transform: scale(1); }
  #indexTitulos {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3" "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3" "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3" "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3" "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3" "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5" "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5" "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5" "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5" "A6 A6 A6 A6 A6 A6 A6 A6 A6 A6";
    width: 100vw;
    height: 90vh; }
  #presentacion {
    grid-area: A3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 80%; }
  #textoppal {
    letter-spacing: 0.5px;
    width: 90%; }
  #slogan {
    box-shadow: none;
    width: 80%; }
  #inputLogin:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2); }
  /*PROPIEDADES RESPONSIVE DESKTOP DE LA PAGINA USUARIOS*/
  #userMain {
    display: grid;
    padding: 50px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "UM1 UM2";
    width: 100vw;
    height: 700px;
    align-items: center;
    justify-items: center; }
  #indexGaleria {
    padding: 50px;
    row-gap: 15px;
    column-gap: 15px; }
    #indexGaleria h2 {
      font-size: 25px;
      letter-spacing: 0.5px;
      background-color: rgba(216, 208, 208, 0.2); }
    #indexGaleria div h4 {
      color: rgba(0, 0, 0, 0);
      text-shadow: none;
      font-size: 20px; }
  #solicitaPresupuesto {
    transform: scale(1); }
  #recomienda {
    transform: scale(1); }
  .slider ul li a h4 {
    font-size: 25px;
    position: absolute;
    top: 35px;
    letter-spacing: 2px; }
  /* PROPIEDADES RESPONSIVE DESKTOP DE PAGINA ARTICULOS*/
  #artVideo1 {
    grid-area: AM2;
    width: 600px;
    height: auto; }
    #artVideo1 div h5 {
      font-size: 15px; }
    #artVideo1 div p {
      font-size: 13px; }
  #artVideo2 {
    grid-area: AM3;
    width: 600px;
    height: auto; }
    #artVideo2 div h5 {
      font-size: 15px; }
    #artVideo2 div p {
      font-size: 13px; }
  /*PROPIEDADES RESPONSIVE DESKTOP DE PAGINA CONTACTO*/
  #contactMain {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 100%;
    grid-template-areas: "CM1 CM1" "CM2 CM3";
    width: 100vw;
    height: 90vh;
    background-color: #333333;
    align-items: center; }
    #contactMain h2 {
      grid-area: CM1;
      width: 100%; }
  #imgcontacto {
    display: unset;
    grid-area: CM2;
    justify-self: center;
    z-index: 10; }
  #contacto {
    margin: 15px;
    justify-self: left;
    transform: scale(0.9); }
    #contacto h2 {
      margin: 10px 0;
      padding-bottom: 10px;
      width: 140px;
      color: #6c6c7c;
      font-size: 25px; }
    #contacto form {
      height: 100%; }
  #inputContacto {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    background-color: #e6e6e6; }
  #pContacto:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    font-weight: bold;
    color: #78788c; }
  /* PROPIEDADES RESPONSIVE DESKTOP PAGINA PRESTADORES*/
  #registroPrestador {
    width: 50%;
    grid-area: CM2; }
  .cuadrointeractivo {
    transform: scale(0.85); }
  /* PROPIEDADES RESPONSIVE DESKTOP PAGINA AYUDA*/
  #funcionamiento p {
    font-size: 20px;
    text-align: justify; }
  .funcionamiento {
    font-size: 25px; }
  /*PROPIEDADES RESPONSIVE DESKTOP PAGINA REGISTRO*/
  #registroUsuario {
    width: 35%; }
  .output {
    background: #eee; } }
