

/*RESETEO DE TODAS LAS PAGINAS (se llevan a cero)*/

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


body{
    display: grid;
    grid-template-columns: 100vw;
    /*grid-template-rows: 100% 100% 100%;*/
    grid-template-areas:    "header"
                            "main"
                            "footer";
}

::placeholder { /*color de la palabra "Buscar*/
    font-family: 'Roboto', sans-serif;
    /*-webkit-text-stroke: 0.1px white;*/
    color: #4482af;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    grid-area: main;
}

ul{
    list-style-type: none; /*le quita las viñetas a las listas*/
}

h1{
    color: rgb(211, 180, 7);
    font-family: 'Bakbak One', cursive;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
    font-size: 35px;
    text-align: center;
    width: 100%;
}

h3{
    color: rgb(211, 180, 7);
    font-family: 'Bakbak One', cursive;
    text-shadow: 2px 2px 2px rgb(0 0 0 / 75%);
    box-shadow: 0 0 50px -10px #000;
    font-size: 25px;
    width: 50%;
    text-align: center;
    /*position: absolute; top: 200px; left: 0px;*/
}


fieldset legend{
    font-family: 'Bakbak One', cursive;
    background: rgb(51, 51, 51);
    font-size:20px;
}

.separador {
    color:gray;    
}

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }

.btn-block { width: 100%; display:block; }

.boton2{
    float:right;
    margin: 5px;
}

#sliderUsuario{
    grid-area: UM2;
    height: 200px;
    }


.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 10px solid rgba(51,51,51,0.3);

}

.slider ul li a{
    color: rgba(255, 255, 255, 0.842);
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-shadow: 0 0 20px rgba(0,0,0,1.5);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
 
}

.slider ul li a h4{
    font-size: 30px;
    position:absolute;
    top: 35px;
    letter-spacing: 2px;
    }


.slider ul{
    padding: 0;
    display: flex;
    width: 600%;
    position: relative;
    animation: cambio 30s infinite ease-in;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
}


@keyframes cambio{
    0% {margin-left: 0;}
    14% {margin-left: 0;}

    16%{margin-left: -100%;}
    30%{margin-left: -100%;}

    32%{margin-left: -200%;}
    46%{margin-left: -200%;}

    48%{margin-left: -300%;}
    62%{margin-left: -300%;}

    64%{margin-left: -400%;}
    78%{margin-left: -400%;}

    80%{margin-left: -500%;}
    100%{margin-left: -500%;}
}



/*PROPIEDADES GENERALES DEL HEADER*/

    header{
        display: flex;
        justify-content:space-between;
        flex-direction: row;
        align-items: center;
        background-color: #0f181f;
        width: 100%;
        height: 60px;
        position: sticky; top: 0; z-index: 100;
        grid-area: header;
    }

    #logo{
        padding-top: 5px;
        padding-left: 15px;
        height: 45px;
    }

    /*PROPIEDADES DEL BUSCADOR*/

        #buscador { /*formato del contenedor de búsqueda*/
            width: 30%;
            padding: 5px;
            /*margin: 10px auto 0 auto;*/
            background-color: #0f181f;
            border-radius: 20px;
            box-shadow: 0px 15px 40px #192935, 0 0 20px 10px #ffffffeb; /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)*/
            transform: scale(0.4); /*reduce el tamaño original del elemento al ratio*/
        }


        #inputBuscador{ /*formato del input ANTES que se comience a escribir*/
            margin-left: 10px;
            width: 100%;
            height: 50px;
            font-size: 30px;
            line-height: 1;
        }

        .tb { /*Cuadro del buscador*/
            display: table;
            width: 100%;
        }
            
        .td {
            display: table-cell;
            vertical-align: middle;
        }
            
        input, 
        button { /*da formato a la barra cuando se comienza a escribir*/
            color: #fff;
            font-family: 'Roboto', sans-serif;
            padding: 0;
            margin: 0;
            border: 0;
            background-color: transparent;
        }
            
    /*PROPIEDADES DEL NAVEGADOR*/
        nav{
            position: relative; right: 10px;
            width: 25%;
        }


        #menunav li {
            width: 25%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }

        #menunav li a{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width:80%;    
            color: #fff;
            text-decoration: none;  
        }

/* PROPIEDADES GENERALES DEL PIE DE PAGINA */

    footer{
        background-color: #253340; /*fondo de header gris oscuro*/
        color: rgb(161, 161, 159);
        padding: 10px;
        font-family:Arial;
        position: relative; bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 70px;
        grid-area: footer
    }

    footer a{
        color: beige;
        text-decoration: none;
        font-family:Arial;
        font-size:10px;
    }

    footer p{
        font-size: 10px;
    }

    #iconRedes{
        height: 18px;
        width: 18px;
    }

/* PROPIEDADES PAGINA INDEX*/

    #indexTitulos{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:    "A3 A3 A3 A3 A3"
                                "A3 A3 A3 A3 A3"
                                "A3 A3 A3 A3 A3"
                                "A3 A3 A3 A3 A3"
                                "A3 A3 A3 A3 A3"
                                "A3 A3 A3 A3 A3"
                                "A3 A3 A3 A3 A3"
                                "A5 A5 A5 A5 A5"
                                "A5 A5 A5 A5 A5"
                                "A5 A5 A5 A5 A5";
        width: 100vw;
        height: 90vh;
        background: url(../img/assistant2.jpg) no-repeat;
        background-size:cover;
    }

    #presentacion{
        padding-top: 20px;
        grid-area: A3;
        /*position: absolute; top: 18%; left: 50%;*/
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self:center;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 80%;
        justify-content: flex-end
    }

    #textoppal{
        font-family: 'Roboto', sans-serif;
        background-color: rgba(0, 0, 0, 0.5);
        letter-spacing: 0.4px;
        text-align:justify;
        font-size: 15px;
        width: 100%;
        height: 200px;
        color: beige;
    }

    #slogan{
        font-family: 'Roboto', sans-serif;
        font-weight:bold;
        /*position:absolute; top: 450px; left: 1050px;*/
        text-align: center;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 75%);
        padding-top: 10px;
        width: 100%;
        height: 100px;
        color: beige;
    }

    
    #ingresoppal{
        grid-area: A5;
        background-color: #0f181f;
        border-radius: 10px;
        box-shadow: 0px 15px 40px #192935, 0 0 5px 3px #ffffffeb; /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        /*position: absolute; top: 650px; left: 1200px;*/
        width: 350px;
        height: 300px;
        text-align: center;
        justify-self: center;
        align-self: center;
        transform: scale(0.8);
    }

    #ingresoppal a{
        color: #75BF80;
        text-decoration: none;
        font-size:15px;
        text-align: center;
    }

    #ingresoppal h2 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.5); letter-spacing:1px; text-align:center; }

    #inputLogin { 
        width: 100%; 
        margin-bottom: 10px; 
        background: rgba(0, 0, 0, 0.5);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 16px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 4px;
        box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .5s ease;
        -moz-transition: box-shadow .5s ease;
        -o-transition: box-shadow .5s ease;
        -ms-transition: box-shadow .5s ease;
        transition: box-shadow .5s ease;
    }

    #inputLogin:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


/* PROPIEDADES PAGINA USUARIOS*/

    #userMain{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        grid-template-areas:    "UM1"
                                "UM2";
        width: 100vw;
        height: 90vh;
        background: url(../img/conectados.png) repeat;
        background-color:#e6e6e6;
        /*border-bottom:2px solid #1414db;*/
        background-size:auto;
        align-items: center;
        justify-items: center;
    }


    #tituloUser{
        width: 100%;
    }

    #solicitaPresupuesto{
        grid-area: UM1;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        height: 60%;
        transform: scale(0.8);
    }

    #recomienda{
        grid-area: UM2;
        width: 25%;
        height: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        transform: scale(0.8);
    }

    .cuadrointeractivo{
        background:#e6e6e6;
        border-radius:8px;
        box-shadow:0 0 40px -10px #000;
        padding:15px 25px;
        max-width:calc(100vw - 40px);
        font-family:'Montserrat',sans-serif;
        color:#78788c;
        font-size:14px;
        text-align: justify;
        justify-self: left;
        margin:calc(50vh - 220px) auto;
    }


    #recomiendadatos{
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-direction:column;
        align-items: flex-start;
    }

    #tipoprestador{
        width: 60%;
    }

    .campodatos{
        width: 250px;
        color: grey;
    }

    .avisolegal{
        font-size: small;
    }

    #indexGaleria{
        background-color:#e6e6e6;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 70px 200px 200px;
        grid-template-areas:    "TIT TIT TIT"
                                "IG1 IG2 IG3"
                                "IG4 IG5 IG6";
    }


    #indexGaleria h2{
        grid-area: TIT;
        color: #042844;
        align-self:flex-end;
        font-weight: 300;
        justify-self: center;
        font-family: 'Bakbak One', cursive;
        font-size: 18px;
        letter-spacing: 0.5px;
        text-align: center;
        }

    #indexGaleria div h4{
        color: rgba(255, 255, 255, 0.842);
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-shadow: 0 0 15px rgba(0,0,0,1.5);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #indexGaleria div a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;  
        width: 100%;
        height: 100%;}

    
    #indexGaleria div a h4:hover{
            background-color: rgba(0, 0, 0, 0.5);
            color: #e6e6e6;
            }

    #imgIG1{
        display: flex;
        flex-direction: column;
        grid-area: IG1;
        background: url(../img/cemento.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
         }


    #imgIG2{
        display: flex;
        flex-direction: column;
        grid-area: IG2;
        background: url(../img/piscina2.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
         }

    #imgIG3{
        display: flex;
        flex-direction: column;
        grid-area: IG3;
        background: url(../img/Parque.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    #imgIG4{
        display: flex;
        flex-direction: column;
        grid-area: IG4;
        background: url(../img/alambrado.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    #imgIG5{
        display: flex;
        flex-direction: column;
        grid-area: IG5;
        background: url(../img/muelle.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    #imgIG6{
        display: flex;
        flex-direction: column;
        grid-area: IG6;
        background: url(../img/limpieza3.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

/* PROPIEDADES DE PAGINA ARTICULOS*/

    #articleMain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 45% 45%;
        grid-template-areas:    "AM1"
                                "AM2"
                                "AM3";
        width: 100vw;
        height: 90vh;
        background: url(../img/cemento.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-items: center;
    }

    #articleMain h3{
        grid-area: AM1;
    }

    #artVideo1{
        grid-area: AM2;
        width: 90%;
        height: 200px;
    }

    #artVideo2{
        grid-area: AM3;
        width: 90%;
        height: 200px;
    }

    .videos{
        width: 100%;
        height: 100%;
     }


/*PROPIEDADES DE PAGINA CONTACTO*/

    #contactMain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "CM1"
                                "CM3";
        width: 100vw;
        height: 90vh;
        background-color: rgb(51, 51, 51);
        /*background: url(../img/piscina.jpg) no-repeat;
        background-size: cover;*/
        align-items: center;
    }

    #contactMain h3{
        grid-area: CM1;
        width: 100%;
    }

    #imgcontacto{
        display: none;
    }

     #contacto{
        /*position: absolute; top: 350px; left: 600px;*/
        grid-area: CM3;
        background:#e6e6e6;
        border-radius:8px;
        box-shadow:0 0 40px -10px #000;
        margin:calc(50vh - 220px) auto;
        padding:20px 30px;
        max-width:calc(100vw - 40px);
        font-family:'Montserrat',sans-serif;
        color:#78788c;
        font-size:14px;
        text-align: justify;
        justify-self: center;
    }

    #contacto h2{
        margin:5px 0;
        padding-bottom:5px;
        width:100px;
        color:#6c6c7c;
        font-size:25px;
    }

    #contacto p{
        font-size: small;
    }

    #inputContacto{
        width:100%;
        padding:7px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid #bebed2;
        background-color:#e6e6e6;
    }

    #pContacto:before{
        content:attr(type);
        display:block;
        margin:22px 0 0;
        font-size:14px;
        font-weight: bold;
        color:#78788c;
    }

/* PROPIEDADES PAGINA PRESTADORES */

    #contratistMain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "CM1"
                                "CM2";
        width: 100vw;
        height: 90vh;
        background: url(../img/trabajadores2.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-items: center;
    }

    #registroPrestador{
        width: 90%;
        grid-area: CM2;
    }
    
    #tituloPrestador{
        grid-area: CM1;
        width: 100%;
    }

    #notaPrestador{
        font-size: small;
    }

    /*PROPIEDADES PAGINA REGISTRO*/

    #registerMain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "RU1"
                                "RU2";
        width: 100vw;
        height: 90vh;
        background: url(../img/registro.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-items: center;
    }

    
    #tituloRegistro{
        grid-area: RU1;
        width: 100%;
        padding: 5px;
    }
    
    #registroUsuario{
        grid-area: RU2;
        width: 80%;
        font-family: 'Open Sans', sans-serif;
        color: #fff;

    }

    #registroUsuario h2{
        text-shadow: 0 0 10px rgb(0 0 0 / 50%);
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 30px;
    }

    #registroUsuario form p{
        background: rgba(0, 0, 0, 0.5);
    }

    /* PROPIEDADES DE PAGINA AYUDA*/

    #helpMain{
        width: 100vw;
        height: 90vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "HM1"
                                "HM2";
        align-items: center;
        justify-items: center;
    }

    #tituloAyuda{
        grid-area: HM1;
        width: 100%;
    }
 
    #funcionamiento{
        grid-area: HM2;
        width: 90%;
    }

    #funcionamiento p{
        font-size: 13.5px;
        text-align: justify;
   }

    .funcionamiento{
        background-color: rgba(0,0,0,0.6);
        font-family: 'Roboto', sans-serif;
        height: auto;
        text-align: center;
        color: beige;
    }


        .videoFondo{
            position: fixed;
            min-width: 100%;
            min-height: 100%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            z-index: -100;
        }
           


@media only screen and (max-width: 500px) { /*Mobile*/

    #buscador { /*formato del contenedor de búsqueda*/
        width: 100%;
        padding: 1px;
        }

    #buscador { /*formato del contenedor de búsqueda*/
        width: 100%;
        padding: 1px;
        }

    /*PROPIEDADES DEL NAVEGADOR - MOBILE*/

        #menunav {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            justify-items: center;
            font-family:Arial;
            font-weight:bold;
            font-size:10px;
            text-decoration: none;
        }


}
    
@media only screen and (min-width: 500px){ /*Tablet & +*/

    /* PROPIEDADES DEL ENCABEZADO */

        h1{
            font-size: 44px;
        }
        
        h3{
            Font-size: 35px;
        }

    /* PROPIEDADES DEL ENCABEZADO */

        header{
                height: 80px;
            }

            #logo{
                padding-top: 7px;
                padding-left: 20px;
                height: 75px;
            }

        /* PROPIEDADES DEL BUSCADOR */
        
        #inputBuscador{ /*formato del input ANTES que se comience a escribir*/
            height: 65px;
            font-size: 40px;
            line-height: 1;
        }

        #buscador { /*formato del contenedor de búsqueda*/
            transform: scale(0.4); /*reduce el tamaño original del elemento al ratio*/
        }

        #s-cover {
            width: 1px;
            padding-left: 20px;
        }
            
        #buttonNav { /*formato del contenedor donde está la lupa*/
            position: relative;
            display: block;
            width: 80px;
            height: 80px;
            cursor: pointer; /*cambia el cursor a la manito*/
        }
            
        #s-circle { /*propiedades del CIRCULO de la lupa*/
            position: relative;
            top: -10px;
            left: -5px;
            width: 40px; /*tamaño x*/
            height: 40px; /*tamaño y*/
            margin-top: 0;
            border-width: 15px;
            border: 7px solid #fff; /*ancho del trazo y color*/
            background-color: transparent;
            border-radius: 50%;
            transition: 0.5s ease all;
        }
            
        button span { /*propiedades del MANGO de la lupa*/
            position: absolute;
            top: 50px;
            left: 30px;
            display: block;
            width: 26px;
            height: 10px;
            background-color: transparent;
            border-radius: 10px;
            transform: rotateZ(45deg);
            transition: 0.5s ease all;
        }
            
        button span:before,
        button span:after { /*formato del MANGO de la lupa*/
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35px;
            height: 7px; /*ancho del trazo (rellena el espacio, no es una linea)*/
            background-color: #fff;
            border-radius: 10px;
            transform: rotateZ(0);
            transition: 0.5s ease all;
        }
            
        #s-cover:hover #s-circle { /*propiedades del circulo de la lupa cuando se TRANSFORMA EN LINEA DE FLECHA*/
            top: 6%;
            left: -11px;
            width: 60px; /*largo de la linea*/
            height: 10px; /*ancho del trazo de la linea*/
            border-width: 0;
            background-color: #fff;
            border-radius: 20px;
        }
            
        #s-cover:hover span {
            top: 50%;
            left: 56px;
            width: 25px;
            /*margin-top: -9px;*/
            transform: rotateZ(0);
        }
            
        #s-cover:hover button span:before {
            bottom: 11px;
            transform: rotateZ(52deg);
        }
            
        #s-cover:hover button span:after { /*propiedades de la linea de flecha de abajo*/
            bottom: -11px;
            transform: rotateZ(-52deg);
        }
            
        #s-cover:hover button span:before,
        #s-cover:hover button span:after {
            right: 18px; /*posicion x*/
            width: 35px; /*largo de cada linea de flecha*/
            background-color: #fff;
        }
        

        /* PROPIEDADES DEL NAVEGADOR - DESKTOP*/

        nav{
            position: relative; right: 20px;
            width: 25%;
            height: 42%;
        }
        #menunav {
            background-color: #0f181f;
            border-radius: 10px;
            box-shadow: 0px 15px 40px #192935, 0 0 5px 3px #ffffffeb; /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)*/
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            font-family:Arial;
            font-weight:bold;
            font-size:12px;
            text-decoration: none;
        }

        #menunav li a{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width:80%;    
            height: 20px;

        }

        #menunav li a:hover {
            border-radius: 20px;
            background-color: #ffffffeb;
            color: #192935;
            
        }

/* PROPIEDADES DEL PIE DE PAGINA - DESKTOP*/

    footer{
        padding: 30px;
        font-family:Arial;
        position: relative; bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
    }

    footer a{
        font-size:13px;
    }

    footer p{
        font-size: 12px;
    }


    #iconRedes{
        height: 27px;
        width: 27px;
    }

    #redes{
        width: 6%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }



/* PROPIEDADES PAGINA INDEX*/

    #indexTitulos{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:    "A1 A1 A2 A2 A2 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A2 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A2 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A2 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A2 A3 A3 A3 A3 A3"
                                "A4 A4 A2 A2 A2 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A2 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A2 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A2 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A2 A5 A5 A5 A5 A5";
        width: 100vw;
        height: 90vh;
        background: url(../img/assistant2.jpg) no-repeat;
        background-size: cover;
    }

    #presentacion{
        padding-top: 20px;
        grid-area: A3;
        /*position: absolute; top: 18%; left: 50%;*/
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self:center;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        height: 80%;
    }

    #textoppal{
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5px;
        background-color: rgba(0, 0, 0, 0.0);
        width: 90%;
        height: 200px;
        color: beige;
    }

    #slogan{
        font-family: 'Roboto', sans-serif;
        font-weight:bold;
        /*position:absolute; top: 450px; left: 1050px;*/
        text-align: center;
        padding-top: 10px;
        width: 100%;
        height: 100px;
        color: beige;
    }


    #ingresoppal{
        width: 450px;
    }


    #inputLogin:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

    /*PROPIEDADES DE LA PAGINA USUARIOS - DESKTOP*/

    #indexGaleria{
        padding: 10px 100px 10px 100px;
        row-gap: 15px;
        column-gap: 15px;
    }

    #solicitaPresupuesto{
        transform: scale(1.0);
    }

    #recomienda{
        transform: scale(1.0);
    }

    #indexGaleria h2{
        font-size: 30px;
        letter-spacing: 0.5px;
        }

    #indexGaleria div h4{
        color: rgba(0, 0, 0, 0.0);
        text-shadow:none;
        font-size: 20px;
    }

/* PROPIEDADES DE PAGINA ARTICULOS - DESKTOP*/

    #articleMain{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "AM1 AM1"
                                "AM2 AM3";
        width: 100vw;
        height: 90vh;
        background: url(../img/cemento.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-items: center;
    }


    #artVideo1{
        width: 600px;
        height: 300px;
    }

    #artVideo2{
        width: 600px;
        height: 300px;
    }
    

/*PROPIEDADES DE PAGINA CONTACTO - DESKTOP*/

    #contactMain{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "CM1 CM1"
                                "CM2 CM3";
        width: 100vw;
        height: 90vh;
        background-color: rgb(51, 51, 51);
        /*background: url(../img/piscina.jpg) no-repeat;
        background-size: cover;*/
        align-items: center;
    }

    #contactMain h3{
        grid-area: CM1;
        width: 100%;
    }

    #imgcontacto{
        display: unset;
        grid-area: CM2;
        justify-self:right;
        position: relative; right: -300px;
    }

 
    #contacto{
        /*position: absolute; top: 350px; left: 600px;*/
        grid-area: CM3;
        background:#e6e6e6;
        border-radius:8px;
        box-shadow:0 0 40px -10px #000;
        margin:calc(50vh - 220px) auto;
        padding:20px 30px;
        max-width:calc(100vw - 40px);
        font-family:'Montserrat',sans-serif;
        color:#78788c;
        font-size:14px;
        text-align: justify;
        justify-self: left;
    }

    
    #contacto h2{
        margin:10px 0;
        padding-bottom:10px;
        width:140px;
        color:#6c6c7c;
        font-size:25px;
    }

    #inputContacto{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid #bebed2;
        background-color:#e6e6e6;
    }

    #pContacto:before{
        content:attr(type);
        display:block;
        margin:28px 0 0;
        font-size:14px;
        font-weight: bold;
        color:#78788c;
    }

/* PROPIEDADES PAGINA PRESTADORES - DESKTOP*/

    #contratistMain{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "CM1"
                                "CM2";
        width: 100vw;
        height: 90vh;
        background: url(../img/trabajadores2.jpg) no-repeat;
        background-size: cover;
        align-items: center;
        justify-items: center;
    }

    #registroPrestador{
        width: 50%;
        grid-area: CM2;
    }

/* PROPIEDADES PAGINA AYUDA - DESKTOP*/

    #funcionamiento p{
        font-size: 20px;
        text-align: justify;
   }
 
   .funcionamiento{
        font-size: 25px;
    }

    /*PROPIEDADES PAGINA REGISTRO*/

    #registroUsuario{
        width: 35%;
    }

        .output {
            background: #eee;
        }
}