/*VARIABLES*/

$colorTitulo: rgb(211, 180, 7);
$colorTexto: rgb(248, 248, 242);
$colorPlaceholder: #4482af;
$shadowTexto: rgba(0, 0, 0, 0.75);
$shadowFondo: rgba(0, 0, 0, 0.5);
$fondoHeaderFooter: rgba(14,24,31,0.7);
$fontH1: 'Bakbak One', cursive;
$fontH2: 'Anton', sans-serif;
$fontH3: 'Roboto', sans-serif;
$fontP:'Roboto Condensed', sans-serif;