/*VARIABLES*/

@import "variables.scss";


/*PROPIEDADES GENERALES DE TODAS LAS PAGINAS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation-duration: 2s;
}

body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas:    "header"
                            "main"
                            "footer";
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    color: $colorPlaceholder;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    grid-area: main;
}

ul{
    list-style-type: none; /*le quita las viñetas a las listas*/
}

h1{
    color: $colorTitulo;
    font-family: $fontH1;
    text-shadow: 2px 2px 2px $shadowTexto;
    font-size: 31px;
    text-align: center;
    width: 100%;
}

h3{
    color: $colorTitulo;
    font-family: $fontH3;
    text-shadow: 2px 2px 2px $shadowTexto;
    box-shadow: 0 0 50px -10px #000;
    font-size: 25px;
    width: 50%;
    text-align: center;
}

fieldset legend{
    font-family: $fontH3;
    background: rgb(51, 51, 51);
    font-size:20px;
}


.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }

.btn-primary { 
    background-color: #4a77d4; 
    background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
    background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
    background-image: linear-gradient(top, #6eb6de, #4a77d4); 
    background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
    border: 1px solid #3762bc; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px $shadowFondo; 
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }

.btn-block { width: 100%; display:block; }

.boton2{
    float:right;
    margin: 5px;
}


/*PROPIEDADES GENERALES DEL HEADER*/

header{
    position: sticky; top: 0; z-index: 100;
    grid-area: header;
    background-color: $fondoHeaderFooter;
}

#logo{
    padding-top: 5px;
    padding-left: 15px;
    height: 45px;
}

#hamburguesa{
    width: 55px;
}


/*PROPIEDADES GENERALES DEL BUSCADOR*/

#buscador { /*formato del contenedor de búsqueda*/
    background-color: #0f181f;
    border-radius: 20px;
    width: auto;
    box-shadow: 0px 15px 40px $shadowFondo, 0 0 20px 10px #ffffffeb; /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)*/
    transform: scale(0.5); /*reduce el tamaño original del elemento al ratio*/
    display: grid;
    grid-auto-columns: 80% 20%;
    grid-template-areas: "buscar lupa";
}

#lupa{
    grid-area: lupa;
}

#buscame{
    grid-area: buscar;
}

#inputBuscador{ /*formato del input ANTES que se comience a escribir*/
    margin-left: 10px;
    height: 50px;
    font-size: 30px;
    line-height: 1;
    width: 190px;
}

.tb { /*Cuadro del buscador*/
    display: table;
    width: 80%;
}
        
.td {
    display: table-cell;
    vertical-align: middle;
}
        
input, 
button { /*da formato a la barra cuando se comienza a escribir*/
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}      


/* PROPIEDADES GENERALES DEL PIE DE PAGINA */

footer{
    background-color: $fondoHeaderFooter; /*fondo de header gris oscuro*/
    color: $colorTexto;
    padding: 10px;
    font-family:Arial;
    position: relative; bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 70px;
    grid-area: footer;

    a {
        text-decoration: none;
        font-family:Arial;
        font-size:10px;
    }

    p{
        font-size: 10px;
        margin: 0;
    }
}



#iconRedes{
    height: 18px;
    width: 18px;
}


/* PROPIEDADES GENERALES PAGINA INDEX*/

#bodyIndex{
    background: url(../img/assistant.jpg) no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 55% 5%;
    background-attachment: fixed;
    color: $colorTexto;
    justify-content: center;
    width: 100%;
}

#indexTitulos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas:    "A3 A3 A3 A3 A3"
                            "A3 A3 A3 A3 A3"
                            "A3 A3 A3 A3 A3"
                            "A3 A3 A3 A3 A3"
                            "A3 A3 A3 A3 A3"
                            "A3 A3 A3 A3 A3"
                            "A3 A3 A3 A3 A3"
                            "A5 A5 A5 A5 A5"
                            "A5 A5 A5 A5 A5"
                            "A5 A5 A5 A5 A5";
    width: 100vw;
    height: 90vh;
}

#presentacion{
    padding-top: 20px;
    grid-area: A3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self:center;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 80%;
    justify-content: flex-end
}

#textoppal{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    text-align:justify;
    font-size: 13.9px;
    width: 100%;
    height: 200px;
    color: $colorTexto;
}

#slogan{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    text-align: center;
    text-shadow: 1px 1px 1px $shadowTexto;
    padding-top: 10px;
    width: 100%;
    height: 100px;
    color: $colorTexto;
}

#ingresoppal{
    transform: scale(0.8);
    grid-area: A5;
    background-color: #0f181f;
    border-radius: 10px;
    box-shadow: 0px 15px 40px #192935, 0 0 5px 3px #ffffffeb; /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 250px;
    text-align: center;
    justify-self: center;
    align-self: center;

    a{
        color: #75BF80;
        text-decoration: none;
        font-size:15px;
        text-align: center;
    }

    h2 { 
        color: #fff; 
        text-shadow: 0 0 10px rgba(0,0,0,0.5); 
        letter-spacing:1px; 
        text-align:center; }
}

#inputLogin { 
    width: 100%; 
    margin-bottom: 10px; 
    background: $shadowFondo;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;

    :focus { 
        box-shadow: inset 0 -5px 45px rgba(163, 162, 162, 0.4), 0 1px 1px rgba(255, 255, 255, 0.356); }
}

#sliderUsuario{
    grid-area: UM2;
    height: 120px;
}

.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    border: 10px solid rgba(51,51,51,0.3);

    ul li a{
        color: rgba(255, 255, 255, 0.842);
        font-size: 25px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-shadow: 0 0 20px rgba(0,0,0,1.5);
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
    }

    ul li a h4{
        font-size: 20px;
        position:absolute;
        top: 30px;
        letter-spacing: 1px;
    }
        
    ul{
        padding: 0;
        display: flex;
        width: 600%;
        position: relative;
        animation: cambio 30s infinite ease-in;
    }
    
    li{
        width: 100%;
        list-style: none;
    }
    
    img{
        width: 100%;
    }


}

    
@keyframes cambio{
    0% {margin-left: 0;}
    14% {margin-left: 0;}

    16%{margin-left: -100%;}
    30%{margin-left: -100%;}

    32%{margin-left: -200%;}
    46%{margin-left: -200%;}

    48%{margin-left: -300%;}
    62%{margin-left: -300%;}

    64%{margin-left: -400%;}
    78%{margin-left: -400%;}

    80%{margin-left: -500%;}
    100%{margin-left: -500%;}
}


/* PROPIEDADES GENERALES PAGINA USUARIOS*/

#bodyUsuarios{
    background: url(../img/conectados.png) repeat;
    background-size: 30%;
    background-repeat: repeat;
    background-position: 50% 5%;
    background-attachment: fixed;
    justify-content: center;
}

#userMain{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 75%;
    grid-template-areas:    "UM1"
                            "UM2";
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

#tituloUser{
    width: 100%;
    animation-duration: 1s;
}

#solicitaPresupuesto{
    grid-area: UM1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 60%;
}

#recomienda{
    grid-area: UM2;
    width: auto;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    transform: scale(1.1);
}

.cuadrointeractivo{
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    padding:15px 25px;
    max-width:calc(100vw - 40px);
    font-family:'Montserrat',sans-serif;
    color:#78788c;
    font-size:14px;
    text-align: justify;
    justify-self: left;
    transform: scale(0.7);
}

#recomiendadatos{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction:column;
    align-items: flex-start;
}

#tipoprestador{
    width: 60%;
}

.campodatos{
    width: 250px;
    color: grey;
}

.avisolegal{
    font-size: small;
}

#indexGaleria{
    background-color:#e6e6e6;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 200px 200px;
    grid-template-areas:    "TIT TIT TIT"
                            "IG1 IG2 IG3"
                            "IG4 IG5 IG6";

    h2{
    grid-area: TIT;
    color: #042844;
    align-self:flex-end;
    font-weight: 300;
    justify-self: center;
    font-family: $fontH2;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: center;
    }

    div{

        h4{
        color: rgba(255, 255, 255, 0.842);
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        text-shadow: 0 0 15px rgba(0,0,0,1.5);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        }

        a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-decoration: none;  
        width: 100%;
        height: 100%;

            h4:hover{
                background-color: $shadowFondo;
                color: #e6e6e6;
            }
        }
    } 
}

#imgIG1{
    display: flex;
    flex-direction: column;
    grid-area: IG1;
    background: url(../img/cemento.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#imgIG2{
    display: flex;
    flex-direction: column;
    grid-area: IG2;
    background: url(../img/piscina2.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#imgIG3{
    display: flex;
    flex-direction: column;
    grid-area: IG3;
    background: url(../img/Parque.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#imgIG4{
    display: flex;
    flex-direction: column;
    grid-area: IG4;
    background: url(../img/alambrado.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#imgIG5{
    display: flex;
    flex-direction: column;
    grid-area: IG5;
    background: url(../img/muelle.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

#imgIG6{
    display: flex;
    flex-direction: column;
    grid-area: IG6;
    background: url(../img/limpieza3.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}


/* PROPIEDADES GENERALES DE PAGINA ARTICULOS*/

#bodyArticulos{
    background: url(../img/cemento.jpg) no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-attachment: fixed;
    justify-content: center;
}

#articleMain{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas:    "AM1"
                            "AM2"
                            "AM3";
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-items: center;

    h3{
        grid-area: AM1;
    }
}

#artVideo1{
    grid-area: AM2;
    width: 90%;
    height: 280px;  

    div h5{
        font-size: 15px;  
    }
    
    div p{
        font-size: 13px;  
    }
}

#artVideo2{
    grid-area: AM3;
    width: 90%;
    height: 280px;

    div h5{
        font-size: 15px;  
    }
    
    div p{
        font-size: 13px;  
    }
}

.videos{
    width: 100%;
    height: 100%;
}


/*PROPIEDADES GENERALES DE PAGINA CONTACTO*/

#contactMain{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:    "CM1"
                            "CM3";
    width: 100vw;
    height: 90vh;
    align-items: center;

    h3{
        grid-area: CM1;
        width: 100%;
    }
}

#bodyContacto{
    background-color: rgb(51, 51, 51);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 5%;
    background-attachment: fixed;
    justify-content: center;
}


#imgcontacto{
    display: none;
}

#contacto{
    grid-area: CM3;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    font-family:'Montserrat',sans-serif;
    color:#78788c;
    font-size:14px;
    text-align: justify;
    justify-self: center;
    transform: scale(0.8);

    h2{
        margin:5px 0;
        padding-bottom:5px;
        width:100px;
        color:#6c6c7c;
        font-size:25px;
    }
    
    p{
        font-size: small;
    }
}

#inputContacto{
    width:100%;
    padding:7px;
    box-sizing:border-box;
    background:none;
    outline:none;
    resize:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid #bebed2;
    background-color:#e6e6e6;
}

#pContacto:before{
    content:attr(type);
    display:block;
    margin:22px 0 0;
    font-size:14px;
    font-weight: bold;
    color:#78788c;
}


/* PROPIEDADES GENERALES PAGINA PRESTADORES */

#bodyPrestadores{
    background: url(../img/trabajadores2.jpg) no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 55% 0%;
    background-attachment: fixed;
    color: $colorTexto;
    justify-content: center;
    width: 100%;
}

#contratistMain{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:    "CM1"
                            "CM2";
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-items: center;
}

#registroPrestador{
    width: 90%;
    grid-area: CM2;
}

#tituloPrestador{
    grid-area: CM1;
    width: 100%;
}

#notaPrestador{
    font-size: small;
}


/*PROPIEDADES GENERALES PAGINA REGISTRO*/

#bodyAyuda{
    background: url(../img/registro.jpg) no-repeat;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 55% 5%;
    background-attachment: fixed;
    justify-content: center;
    width: 100%;
}

#registerMain{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:    "RU1"
                            "RU2";
    width: 100vw;
    height: 90vh;
    align-items: center;
    justify-items: center;
}

#tituloRegistro{
    grid-area: RU1;
    width: 100%;
    padding: 5px;
}

#registroUsuario{
    grid-area: RU2;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    color: #fff;

    h2{
        text-shadow: 0 0 10px $shadowTexto;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 30px;
    }
    
    form p{
        background: $shadowFondo;
    }
}


/* PROPIEDADES GENERALES DE PAGINA AYUDA*/

#helpMain{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas:    "HM1"
                            "HM2";
    align-items: center;
    justify-items: center;
}

#tituloAyuda{
    grid-area: HM1;
    width: 100%;
    z-index: 10;
}

#funcionamiento{
    grid-area: HM2;
    width: 90%;

    p{
        font-size: 12px;
        text-align: justify;
    }
}

.funcionamiento{
    background-color: $shadowFondo;
    font-family: 'Roboto', sans-serif;
    height: auto;
    text-align: center;
    color: $colorTexto;
}

.videoFondo{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}
       

@media only screen and (max-width: 525px) { /*CONDICIONES MOBILE*/

}

@media only screen and (min-width: 525px){ /*CONDICIONES TABLET&+*/


/* PROPIEDADES GENERALES RESPONSIVE DESKTOP*/

    h1{
        font-size: 44px;
    }
    
    h3{
        Font-size: 35px;
    }


/* PROPIEDADES RESPONSIVE DESKTOP DEL ENCABEZADO*/

    header{
        padding: 0 15px 0 15px;
    }

    #logo{
        padding-top: 7px;
        padding-left: 15px;
        height: 65px;
    }


    /* PROPIEDADES RESPONSIVE DESKTOP DEL BUSCADOR */
    
    #inputBuscador{ /*formato del input ANTES que se comience a escribir*/
        height: 65px;
        font-size: 40px;
        width: 200px;
        line-height: 1;
    }

    #s-cover {
        width: 1px;
        padding-left: 20px;

        :hover #s-circle { /*propiedades del circulo de la lupa cuando se TRANSFORMA EN LINEA DE FLECHA*/
            top: 6%;
            left: -11px;
            width: 60px; /*largo de la linea*/
            height: 10px; /*ancho del trazo de la linea*/
            border-width: 0;
            background-color: #fff;
            border-radius: 20px;
        }
            
        :hover span {
            top: 50%;
            left: 56px;
            width: 25px;
            /*margin-top: -9px;*/
            transform: rotateZ(0);
        }
            
        :hover #btnspan:before {
            bottom: 11px;
            transform: rotateZ(52deg);
        }
            
        :hover #btnspan:after { /*propiedades de la linea de flecha de abajo*/
            bottom: -11px;
            transform: rotateZ(-52deg);
        }
            
        :hover #btnspan:before,
        :hover #btnspan:after {
            right: 18px; /*posicion x*/
            width: 35px; /*largo de cada linea de flecha*/
            background-color: #fff;
        }
    }
        
    #buttonNav { /*formato del contenedor donde está la lupa*/
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        cursor: pointer; /*cambia el cursor a la manito*/
    }
        
    #s-circle { /*propiedades del CIRCULO de la lupa*/
        position: relative;
        top: -10px;
        left: -5px;
        width: 40px; /*tamaño x*/
        height: 40px; /*tamaño y*/
        margin-top: 0;
        border-width: 15px;
        border: 7px solid #fff; /*ancho del trazo y color*/
        background-color: transparent;
        border-radius: 50%;
        transition: 0.5s ease all;
    }
        
    #btnspan { /*propiedades del MANGO de la lupa*/
        position: absolute;
        top: 50px;
        left: 30px;
        display: block;
        width: 26px;
        height: 10px;
        background-color: transparent;
        border-radius: 10px;
        transform: rotateZ(45deg);
        transition: 0.5s ease all;

        &:before,
        &:after { /*formato del MANGO de la lupa*/
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 35px;
            height: 7px; /*ancho del trazo (rellena el espacio, no es una linea)*/
            background-color: #fff;
            border-radius: 10px;
            transform: rotateZ(0);
            transition: 0.5s ease all;
        }
    }
        

        

    /* PROPIEDADES RESPONSIVE DESKTOP DEL NAVEGADOR*/

    /*nav{
        position: relative; right: 20px;
        width: 25%;
        height: 42%;
    }

    #menunav {
        background-color: #0f181f;
        border-radius: 10px;
        box-shadow: 0px 15px 40px #192935, 0 0 5px 3px #ffffffeb; /*da formato a la sombra en dos colores (eje X, eje Y, area de la sombra y color)
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        font-family:Arial;
        font-weight:bold;
        font-size: 11px;
        text-decoration: none;

        li a{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width:80%;    
            height: 20px;
    
        }
    
        li a:hover {
            border-radius: 20px;
            background-color: #ffffffeb;
            color: #192935;
            
        }
    }*/


/* PROPIEDADES RESPONSIVE DESKTOP DEL PIE DE PAGINA*/

    footer{
        padding: 30px;
        font-family:Arial;
        position: relative; bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;

        a{
            font-size:13px;
        }
    
        p{
            font-size: 12px;
        }
    }

    #iconRedes{
        height: 27px;
        width: 27px;
    }

    #redes{
        width: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


/* PROPIEDADES RESPONSIVE DESKTOP PAGINA INDEX*/

    #ingresoppal{
        transform: scale(1);
    }

    #indexTitulos{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas:    "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3"
                                "A1 A1 A2 A2 A3 A3 A3 A3 A3 A3"
                                "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5"
                                "A4 A4 A2 A2 A5 A5 A5 A5 A5 A5";
        width: 100vw;
        height: 90vh;
    }

    #presentacion{
        padding-top: 20px;
        grid-area: A3;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self:center;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        height: 80%;
    }

    #textoppal{
        letter-spacing: 0.5px;
        width: 90%;
    }

    #slogan{
        font-family: 'Roboto', sans-serif;
        font-weight:bold;
        text-align: center;
        padding-top: 10px;
        width: 100%;
        height: 100px;
        color: $colorTexto;
    }

    #inputLogin:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }


/*PROPIEDADES RESPONSIVE DESKTOP DE LA PAGINA USUARIOS*/

    #indexGaleria{
        padding: 10px 100px 10px 100px;
        row-gap: 15px;
        column-gap: 15px;

        h2{
            font-size: 30px;
            letter-spacing: 0.5px;
        }

        div h4{
            color: rgba(0, 0, 0, 0.0);
            text-shadow:none;
            font-size: 20px;
        }
    }

    #solicitaPresupuesto{
        transform: scale(1.0);
    }

    #recomienda{
        transform: scale(1.0);
    }

    .slider ul li a h4{
        font-size: 25px;
        position:absolute;
        top: 35px;
        letter-spacing: 2px;
        }


/* PROPIEDADES RESPONSIVE DESKTOP DE PAGINA ARTICULOS*/

    #artVideo1{
        width: 600px;
        height: 300px;
    }

    #artVideo2{
        width: 600px;
        height: 300px;
    }
    

/*PROPIEDADES RESPONSIVE DESKTOP DE PAGINA CONTACTO*/

    #contactMain{
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 10% 90%;
        grid-template-areas:    "CM1 CM1"
                                "CM2 CM3";
        width: 100vw;
        height: 90vh;
        background-color: rgb(51, 51, 51);
        align-items: center;

        h3{
            grid-area: CM1;
            width: 100%;
        }
    }

    #imgcontacto{
        display: unset;
        grid-area: CM2;
        justify-self:center;
        z-index: 10;
    }

    #contacto{
        grid-area: CM3;
        background:#e6e6e6;
        border-radius:8px;
        box-shadow:0 0 40px -10px #000;
        margin:calc(50vh - 220px) auto;
        padding:20px 30px;
        max-width:calc(100vw - 40px);
        font-family:'Montserrat',sans-serif;
        color:#78788c;
        font-size:14px;
        text-align: justify;
        justify-self: left;
        transform: scale(1.0);

        h2{
            margin:10px 0;
            padding-bottom:10px;
            width:140px;
            color:#6c6c7c;
            font-size:25px;
        }
    }
    
    #inputContacto{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        font-family:'Montserrat',sans-serif;
        transition:all .3s;
        border-bottom:2px solid #bebed2;
        background-color:#e6e6e6;
    }

    #pContacto:before{
        content:attr(type);
        display:block;
        margin:28px 0 0;
        font-size:14px;
        font-weight: bold;
        color:#78788c;
    }


/* PROPIEDADES RESPONSIVE DESKTOP PAGINA PRESTADORES*/

    #registroPrestador{
        width: 50%;
        grid-area: CM2;
    }
    
    .cuadrointeractivo{
        transform: scale(1.00);
    }


/* PROPIEDADES RESPONSIVE DESKTOP PAGINA AYUDA*/

    #funcionamiento p{
        font-size: 20px;
        text-align: justify;
    }

    .funcionamiento{
        font-size: 25px;
    }


/*PROPIEDADES RESPONSIVE DESKTOP PAGINA REGISTRO*/

    #registroUsuario{
        width: 35%;
    }

    .output {
        background: #eee;
    }
}